<div id="header">
  <h4>@Html.ActionLink("Home", "Index", "Home") - @Html.ActionLink("Flavors", "Index", "Flavors") - @Html.ActionLink("Treats", "Index", "Treats") - @Html.ActionLink("Account", "Index", "Account")</h4>
  <hr />
</div>
