@{
  Layout = "_Layout";
}

<h1>Welcome to the Candy Shop!</h1>
<h3>@Html.ActionLink("See all items", "Index", "Items")</h3>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
